* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4c5053;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.grid {
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 15px;
}

.col15 {
    width: 15%;
    display: flex;
    align-items: flex-start;
    border-right: 5px solid grey;
}

.col50 {
    width: 49%;
    display: flex;
    align-items: flex-start;
}

.col10 {
    width: 2%;
    display: flex;
    align-items: flex-start;
}

.col85 {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-text {
    padding-left: 10px;
}

.col85-row {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sub-title {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.led-wall {
    margin-top:20px;
    margin-left: 10px;
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.calculator {
    margin-top:20px;
    margin-left: 10px;
    background-image: url("../images/02-portfolio-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}  
.puzzles {
    margin-top:20px;
    margin-left: 10px;
    background-image: url("../images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
    background-position: center;  
}

.run-buddy {
    margin-top:20px;
    margin-left: 10px;
    background-image: url("../images/02-run-buddy.jpg");
    background-repeat: no-repeat;
    background-position: center;    
}

.stack {
    display: flex;
    align-items: flex-end;
    height:300px;
}

.stack div {
    background-color: rgb(15, 198, 198);
}

.sub-title {
    margin-top:20px;
    background-image: url("../images/02-hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.sub-title h2 {
    background-color: rgb(15, 198, 198);
}

.surf {
    display: flex;
    align-items: flex-end;
    min-height: 400px;
    width: 100%;
    margin-top:20px;
    margin-left: 10px;
    background-image: url("../images/02-portfolio-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contact div {
    padding-left: 30px;
    width: 20%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}